<div class="searchBar">
    <div class="container">
        <form action="/search" class="search_form" role="serach" method="POST">
            <input type="search"
            aria-label="Search"
            name="searchTerm"
            id="serachInput"
            placeholder="Search the site..."/>     
        </form>
    </div>
    <div class="serachClose">Close</div>
</div>